/* Box-sizing border-box */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Some default styles to make each box visible */

body {
  margin: 0;
  padding: 0;
}

.box {
  color: white;
  font-size: 4em;
  text-align: center;
  padding: 5px;
}

/* Colours for each box */

.box1 {
  background: #1abc9c;
}

.box2 {
  background: #3498db;
}

.box3 {
  background: #9b59b6;
}

.box4 {
  background: #34495e;
}

.box5 {
  background: #f1c40f;
}

/* We start writing out flexbox here. The above is just page setup */

.container {
  border: 15px solid mediumslateblue;
  /* view-port height */
  height: 100vh;
}